doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    title="Bota na Rifa"
    link(rel="stylesheet" href="./styles/main.css")
  body(topmargin="0")    
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    //- Header
    header.header
      a(href="index.html").logo
        img(src="./images/logo.png" alt="Logo do Bota na Rifa")

    //- Menu
    navbar.menu
      - let l = ['Criar Rifa', 'Login'];
      ul.nav
        each item in l
          a(href="#")
            li #{item}
        li(title="buscar").search
          img(src="./images/search.svg" alt="Busque aqui")

    //- Banner
    .banner
      .container
        .fundo
          .content
            .titulo
              h1 O melhor sistema #[br]de Rifas Online 
            .felicidade
              img(src="./images/mulher-vibrando.png" alt="Mulher Feliz com o prêmio")

    //- Rifas paste 1
    .rifas
      - var items = [{titulo: 'Colossus Estrela', valor: '20'}, {titulo: '2 Tequilas Mexicanas', valor: '5'}, {titulo: 'R$ 1.500,00 na sua conta', valor: '20'}];
      .container
        .estrutura
          each item, i in items
            .item
              img.image(src="./images/api/api-rifas-"+i+".jpg" alt="Rifa "+i)
              h3.titulo #{item.titulo}
              a.button(href="#") Participar com R$ 
                span #{item.valor}

    //- Chamada criar Rifa
    .create-rifa
      .container
        .chamada
          .titulo
            h2 Não perca mais tempo, crie Já seu site de Rifa! 
            a(href="#").button Criar meu site de Rifa 
          .mascote
            img.image(src="./images/mascote.svg" alt="Macote Bota na Rifa")

    //- Rifas paste 2
    .rifas
      - var items = [{titulo: 'POP 110i 2021 ou R$ 7.000,00', valor: '10'}, {titulo: '01 barca de sushi para duas pessoas', valor: '20'}, {titulo: '35 cotas da rifa do Jetta TSI', valor: '5'}, {titulo: 'iPhone 12 lacrado ou 5 mil reais', valor: '120'}, {titulo: 'Moto Yamaha Xt660', valor: '100'}, {titulo: 'R$ 300,00 reais na conta', valor: '1'}];
      .container
        .estrutura
          - let iterator = 3;
          each item in items
            .item
              img.image(src="./images/api/api-rifas-"+iterator+".jpg" alt="Rifa "+iterator)
              h3.titulo #{item.titulo}
              a.button(href="#") Participar com R$ 
                span #{item.valor}
                - iterator++;

    //- Footer
    footer.footer
      .container
        h2.titulo Perguntas Frequentes
        - let lista = [{titulo: 'Como participo?', descricao: 'No campo acima, clique no botão verde participar, em seguida, serão exibidos todos os números disponíveis. Escolha o(s) número(s) de sua preferência, faça o pagamento para uma das opções disponibilizadas, envie o comprovante de pagamento para o whatsapp disponibilizado no campo "Enviar Comprovante", aguarde a confirmação de pagamento e pronto! Agora só aguardar até o dia do sorteio.'}, {titulo: 'Teste teste?', descricao: 'Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Si num tem leite então bota uma pinga aí cumpadi! Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.'}];
        ul.lista-perguntas
          each item in lista
            li
              h3.tit #{item.titulo}
              p.info #{item.descricao}

    .direitos
      .container
        .logo
          img(src="./images/logo.png" alt="Logo Bota na Rifa")
        .copy
          p Desenvolvido por Bota na Rifa - 
            a(href="#") Termos e Condições 
            span - ©
            span(data-year)

    //- modal vídeo
    .overlay#overlay
    #modal.modal
      a.modal-close-btn &times;
      .modal-content
        h3 Assista e faça parte você também!
        iframe(width="100%" height="500px" src="https://www.youtube.com/embed/zNnmawU8j8w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

    script(type="text/javascript").
      document.querySelector('[data-year]').innerText = new Date().getFullYear()
    script(src="./scripts/bundle.js")